---
# this is an empty front matter
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bongani Mbigi | Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/index.css" />
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  
        {% include header.html %}
        <main >
    
                <section class="hero">
                    <div class="grid">
                        <div class="two-thirds">
                            <div class="vexpand">
                                <h1>Bongani Mbigi</h1>
                                <h3 class="dim-label">Frontend Ninja. Backend Shogun.</h3>
                            </div>
                            <p>
                                <a class="button" href="https://www.linkedin.com/in/bongani-mbigi"><i class="fa fa-linkedin"></i>My LinkedIn</a>
                                <a class="button suggested-action blue" href="https://github.com/bongani-m"><i class="fa fa-github"></i>My Github Projects</a>
                            </p>
                        </div>
                    </div>
                </section>
            </main>
            <section class="grid">
                    <div class="whole">
                        <h2 data-align="center">I'm <span id="age">Twenty-Something</span> years old and live in <a href="https://goo.gl/maps/qK2RsXHDcVy">Austin, TX</a>.</h2>
                    </div>
                    <div class="third">
                        <p data-align=center><img src="images/projects/transmute.svg"></p>
                        <p>I spend the majority of my time working as an software developer intern on transmute.</p>
                        <p><a href="https://transmute.industries" class="read-more blue"><i class="fa fa-fw fa-link"></i>Learn More</a></p>
                    </div>
                    <div class="third">
                        <script src="https://unpkg.com/feather-icons"></script>
                        <style>
                        svg {
                                color: rgb(68, 75, 92);
  width: 100%;
  height: 100%
}
                        </style>
                        <p data-align=center><i style="width: 123px; height: 123px" data-feather="package"></i>
                        <p>I create putbox.io, you quick storage solution for apps. Think of it as your app's junk drawer</p>
                        <p><a href="https://www.putbox.io" class="read-more soundcloud"><i class="fa fa-fw fa-link"></i>Learn More</a>
                        </p>
                    </div>
                    <script>
                        feather.toSvg('package', { 'height': 128 })
                      feather.replace()
                    </script>
                   <div class="third">
                        <p data-align=center><img src="images/projects/spotify.svg"></p>
                        <p>I also created the spotify top tracks list. I don't waiting till the end of the year to see my listening habits.</p>
                        <p><a href="/spotifytoptracks" class="read-more red"><i class="fa fa-fw fa-link"></i>Learn More</a></p>
                    </div>
                </section>
                <!-- <section class="grid">
                    <h3 data-align="center">I've written a couple of apps for elementary OS:</h3>
                    <div class="half">
                        <p data-align=center><img src="images/projects/com.github.danrabbit.harvey.svg" alt="Harvey"></p>
                        <p>Harvey checks a given set of colors for WCAG contrast compliance.</p>
                        <p>
                            <a href="https://appcenter.elementary.io/com.github.danrabbit.harvey" class="read-more blue">
                                <i class="fa fa-fw fa-cloud-download"></i>Get Harvey on AppCenter
                            </a>
                        </p>
                    </div>
                    <div class="half">
                        <p data-align=center><img src="images/projects/com.github.danrabbit.nimbus.svg" alt="Nimbus"></p>
                        <p>See the current temperature and weather conditions for your location with Nimbus.</p>
                        <p>
                            <a href="https://appcenter.elementary.io/com.github.danrabbit.nimbus" class="read-more blue">
                                <i class="fa fa-fw fa-cloud-download"></i>Get Nimbus on AppCenter
                            </a>
                        </p>
                    </div>
                </section> -->
            <div class="hero hero-secondary">
                <h2>My Exprience</h2>
            </div>
<div class="education">
    <h3 class="title">Univesity of Texas at Austin (2019)</h3>
    <p>Bacheloers in Mathematics w/ Certificate in Computer Science and Business</p>
</div>
        <ul class="timeline">
                <li>
                        <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag">Transmute</span>
                                    <span class="time-wrapper"><span class="time">September 2018 - Present</span></span>
                                </div>
                                <div class="desc">Software Developer Intern</div>
                                <div class="desc desc-secondary">TBD</div>
                                <!-- <div class="desc">- Developed on the highlights editor application working with GraphQL and ReactJS/Redux. Worked on the backend of auto generated Game Recaps application with in the .net framework
                                        </div> -->
                            </div>
                        </div>
                    </li>
            <!-- Item 1 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Blackbaud</span>
                        <span class="time-wrapper"><span class="time">May 2018 - August 2018</span></span>
                    </div>
                    <div class="desc">Software Developer Intern</div>
                    <div class="desc desc-secondary">Angular, TypeScript, JS, Spring, Java</div>
                    <div class="desc">- Extended Frontend application, by implimenting a screen-size agnostic navigation and extended the backend service by migrating service to azure servicebus</div>
                </div>
            </li>
          
            <!-- Item 2 -->
            <li>
                <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="flag">Hudl</span>
                            <span class="time-wrapper"><span class="time">May 2017 - August 2017</span></span>
                        </div>
                        <div class="desc">Software Developer Intern</div>
                        <div class="desc desc-secondary">React, JS, .NET, C#</div>
                        <div class="desc">- Developed on the highlights editor application working with GraphQL and ReactJS/Redux. Worked on the backend of auto generated Game Recaps application with in the .net framework
                                </div>
                    </div>
                </div>
            </li>
        
            <!-- Item 3 -->
            <li>
                <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="flag">Union Pacific</span>
                            <span class="time-wrapper"><span class="time">August 2016 - February 2017</span></span>
                        </div>
                        <div class="desc">Software Developer Intern</div>
                        <div class="desc desc-secondary">Angular, JS, Spring, Java</div>
                        <div class="desc">- Continued developing modular front end application used in production for Train Management using Angular JS		             
                                Extended server-side APIs utilizing Spring MVC.
                                </div>
                    </div>
                </div>
            </li>

            <!-- Item 4 -->
            <li>
                    <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="flag">State Farm</span>
                                <span class="time-wrapper"><span class="time">May 2016 - August 2016</span></span>
                            </div>
                            <div class="desc">Software Developer Intern</div>
                            <div class="desc desc-secondary"> Spring, Java</div>
                            <div class="desc">-  Developed BDD driven automated testing system framework that integrated into the Continuous Integration Pipeline. Utilized jUnit, and Selenium Framework. Created Onboarding material and presentation for incoming employees. </div>
                        </div>
                    </div>
                </li>

            <!-- Item 5 -->
            <li>
                    <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="flag">UT Library IT</span>
                                <span class="time-wrapper"><span class="time"> August 2015 - May 2016</span></span>
                            </div>
                            <div class="desc">Software Developer Intern</div>
                            <div class="desc desc-secondary">Swift, Angular, JS, .NET, C#</div>
                            <div class="desc">-  Developed and maintain internal solutions for Perry-Castañeda Library. Worked on AngularJS - ASP.net MVC applications and Mac Development with Swift.</div>
                        </div>
                    </div>
                </li>
            
          <!-- Item 4 -->
          <li>
                <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="flag">State Farm</span>
                            <span class="time-wrapper"><span class="time">May 2015 - August 2015</span></span>
                        </div>
                        <div class="desc">Software Developer Intern</div>
                        <div class="desc desc-secondary"> Spring, Java</div>
                        <div class="desc">- Utilized the Spring Framework, Java EE, Apache Avro. Worked on Products team to develop solution to scale big data needs for mobile applications. </div>
                    </div>
                </div>
            </li>

        </ul>
        <script>
        (function () {
            
         document.querySelector('#age').innerHTML = new Date().getFullYear() - 1995

        })();
        </script>
        {% include footer.html %}
        
</body>
</html>