<nav>
        <ul>
                <li>
                    <a href="/" class="logo"><i class="fa fa-superpowers" aria-hidden="true" style="
                        font-size: 2em;
                        margin: .5em;
                    "></i></a>
                </li>
            </ul>
            
            <ul class="right">
                <!-- <li>
                    <a href="policy">
                        <i class="fa fa-fw fa-bank"></i>
                    </a>
                </li> -->
                <li>
                    <a href="/dev-bytes">
                         Dev Blog
                    </a>
                </li>
            </ul>
</nav>
