body,
html {
    background-color: #fffffc;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font: 16px "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
}


a {
    color: #08c;
    text-decoration: none;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

li a:hover {
    opacity: .5;
}

/*******
 * Nav *
 *******/

 nav {
    background-color: #08c;
    background-image: -webkit-linear-gradient(left, #057dc7, #38a2c2);
    background-image: linear-gradient(to right, #057dc7, #38a2c2);
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    color: #fff;
    font-weight: 600;
    height: 56px;
    line-height: 56px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 999;
}

nav a {
    color: #fff;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul.right {
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 0 8px;
}

nav .logo img {
    height: 20px;
    vertical-align: middle;
}



nav {
    background-color: #444c5c;
    background-image: none;
    box-shadow: none;
}

nav > ul.right > li > a {
    margin: .5em;
}

a:hover {
    opacity: .5;
}