---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "footer";
@import "header";

.page-heading {
    font-family: "Share Tech", sans-serif;
    text-align: center;
    padding: 2em;
    background-color: #444c5c;
    color: #fff;
    margin: 0;
}

.post-list {
    text-align: center;
    list-style: none;
}

.post-list li {
    margin-bottom: 4em; 
}